@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;

    ::-webkit-scrollbar {
      width: 0.5rem;
    }
    
    ::-webkit-scrollbar-track {
      border:  1px rgb(241, 241, 241) solid; 
      border-radius: 0.25rem;
    }
     
    ::-webkit-scrollbar-thumb {
      background: rgb(201, 201, 201); 
      border-radius: 0.25rem;
    }
    
    ::-webkit-scrollbar-thumb:hover {
      background: #838383; 
    }
}

.marker{
  width: 25px;
  height: 25px;
  /* transform: translate(0%, -50%); */

  &.yellow {
    stroke: #f8c102;
    transform: translate(0%, -50%);
  }
  
  &.blue {
    stroke: #06b6d4;
    transform: translate(0%, -50%);
  }
  
  &.red {
    stroke: #cc2908
  }
}

.error {
  stroke: #cc2908
}

.mapboxgl-popup {
  transform: none !important;   /*Disables inline css from the library*/
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh !important;
  width: 90vw !important;
  max-width: 90vw !important;

  & .mapboxgl-popup-content,
  & .mapboxgl-popup-content > div {
    height: 100%;
    padding: 0;
  }
}


.mapboxgl-popup-tip {
  display: none !important;
}

.action-button {
  color: white !important;
  margin-top: auto;
}

.mapboxgl-popup-close-button {
  font-size: 2rem;
  padding: 0.5rem;
}

.new-entry-popup {
  max-width: 40vw;
  padding: 1.5rem;
  height: 100%;
}

@media (screen(md)) {
  .mapboxgl-popup {
    width: 70vw !important;
    max-width: 70vw !important;
  }
}

@media (screen(lg)) {
  .mapboxgl-popup {
    width: 40vw !important;
    max-width: 40vw !important;
  }
}

@media (screen(2xl)) {
  .mapboxgl-popup {
    width: 30vw !important;
    max-width: 30vw !important;
  }
}