#popup-root {
    .confirm-popup-content {
        justify-content: center;
        align-items: start;
        padding: 1.5rem;
    }
    .confirm-action-button {
        padding: 0.5rem;
        font-weight: 500;
        border-radius: 0.25rem;
    }
}